
* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

@font-face {
  font-family: Diogenes;
  src: url(../font/DIOGENES.ttf);
}

body {
  background-color: rgb(241, 242, 247);
}

h1 {
  font-family: 'Diogenes', sans-serif;
  font-size: 72px;
}

h2 {
  font-family: 'Diogenes', sans-serif;
  font-size: 36px;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin-left: 5rem;
  margin-right: 5rem;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Navigation Bar Stuff */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:   #000835;
}

li {
  float: left;
}

li a {
  font-family: Arial, Helvetica, sans-serif ;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: #28a8db;
}

.active {
  background-color: #628cda;
}

/* Table stuff for history.html */
table {
  font-family: arial, sans-serif;
  border: 2px solid darkblue;
  border-collapse: collapse;
  width: 100%;
}

.center_table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

td, th {
  border: 1px solid #c5c4c4;
  text-align: left;
  padding: 8px;
}

#image_caption {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  margin-left: 7rem;
  margin-right: 7rem;
}

#history_date {
  font-size: larger;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#history_table_header {
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#history_table_description {
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Resources Page */
.resource_header {
  font-family: 'Times New Roman', Times, serif;
  margin-left:2rem;
}

.resource_format {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 4rem;
}
